<!-- div+div -->
<!-- Hace que ambos esten a la misma altura-->
<p>Contenedores a la misma altura</p>
<div>Contenedor 1</div>
<div>Contenedor 2</div>

<!-- ul#listado>ul.nav-menu>li*3.nav-menu-items -->
<p>Listado con etiquetas hijas</p>
<ul id="listado">
    <ul class="nav-menu">
        <li class="nav-menu-items">Item1</li>
        <li class="nav-menu-items">Item2</li>
        <li class="nav-menu-items">Item3</li>
    </ul>
</ul>

<!-- div.contenedor3{contenedor3}+div.contendor4{contendor4}>p.hijoContenedor4{hijoContenedor4}^p.sinpadr{sin padre} -->
<p>Etiquetas a la misma altura, con hjos y con escalado</p>
<div class="contenedor3">contenedor3</div>
<div class="contendor4">contendor4
    <p class="hijoContenedor4">hijoContenedor4</p>
</div>
<p class="sinpadr">sin padre</p>
